{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<!-- add comment-->
<div class="col-lg-12">
    <div class="card card-outline-secondary my-4">
        <div class="card-body">
            <h1>New comment</h1>
            <form method="POST" class="post-form">
                {% csrf_token %}
                {{ form|crispy }}
                <hr>
                <button type="submit" class="save btn btn-success">Send</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}