{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="col-lg-3">

    <h1 class="my-4">Categories</h1>
    <div class="list-group">
        {% for category in categories %}
            <a href="{% url 'category' slug=category.slug %}" class="list-group-item">{{ category.category_name }}</a>
        {% endfor %}
    </div>

</div>
<!-- /.col-lg-3 -->

<!-- Page Content -->
<div class="col-lg-9">
    <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
        <ol class="carousel-indicators">
            {% for i in n %}
                {% if forloop.first %}
                    <li data-target="#carouselExampleIndicators" data-slide-to="{{ i }}" class="active"></li>
                {% else %}
                    <li data-target="#carouselExampleIndicators" data-slide-to="{{ i }}"></li>
                {% endif %}
            {% endfor %}
        </ol>
        <div class="carousel-inner" role="listbox">
            {% for i in products %}
                {% if forloop.first %}
                    <div id="carousel-item-category" class="carousel-item active">
                        <img id="image-carousel" class="d-block img-fluid" src="{{ i.image.url }}">
                    </div>
                {% else %}
                    <div id="carousel-item-category" class="carousel-item">
                        <img id="image-carousel" class="d-block img-fluid" src="{{ i.image.url }}">
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="row">
        {% for product in products %}
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <a href="{% url 'product_detail' slug=product.slug %}"><img class="card-img-top" src="{{ product.image.url }}" alt=""></a>
                <div class="card-body">
                <h4 class="card-title">
                    <a href="{% url 'product_detail' slug=product.slug %}">{{ product.name }}</a>
                </h4>
                <hr>
                <h5>{{ product.price }} TL</h5>
                <hr>
                <p class="card-text">{{ product.description|truncatechars_html:100 }}</p>
                </div>
                <div class="card-footer text-right">
                    <a class="btn btn-success" href="{% url 'addtocart' id=product.pk %}">Add to Cart</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- /.row -->

    <!--Pagination-->
    <div class="container">
        {% if products.has_other_pages %}
            <ul class="pagination justify-content-center">
                <!--Previous-->
                {% if products.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ products.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Previous</a></li>
                {% else %}
                    <li id="disable-item-previous" class="page-item disable"><a class="page-link">Previous</a></li>
                {% endif %}
                <!--Pages-->
                {% for i in products.paginator.page_range %}
                    {% if products.number == i %}
                        <li id="active-item" class="page-item active"><a class="page-link">{{ i }} </a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                <!--Next-->
                {% if products.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ products.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Next</a></li>
                {% else %}
                    <li id="disable-item-next" class="page-item disable"><a class="page-link">Next</a></li>
                {% endif %}
            </ul>
        {% endif %}
    </div>

    </div>
    <!-- /.col-lg-9 -->

{% endblock content %}