{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="col-lg-3">

  <h1 class="my-4">Shop Name</h1>
  <div class="list-group">
      {% for category in categories %}
        <a href="{% url 'category' category_id=category.id %}" class="list-group-item">{{ category.category_name }}</a>
      {% endfor %}
  </div>

</div>
<!-- /.col-lg-3 -->

<!-- Page Content -->
<div class="col-lg-9">

    <div class="card mt-4">
      <img id="image-carousel" class="card-img-top img-fluid" src="{{ product.image.url }}" alt="">
      <div class="card-body">
        <h3 class="card-title">{{ product.name }}</h3></a>
        <h4>{{ product.price }} TL</h4>
        <p class="card-text">{{ product.description }}</p>
        <form action="/addtocart/{{ product.id }}" method="POST">
          {% csrf_token %}
          <input type="number" id="{{ form.as_p }}" name="quantity" value="1" min="1">
          <input class="primary-btn pd-to-cart" type="submit" value="Add to Cart">
        </form>
      </div>
    </div>
    <!-- /.card -->

  <div class="card card-outline-secondary my-4">
    <div class="card-header">
      Product Reviews
    </div>
    <div class="card-body">
  {% for comment in product.comments.all %}
    <p>{{ comment.text|linebreaks }}</p>
    <small class="text-muted">Posted by {{ comment.user.username }} on {{ comment.created_date }}</small>
    <hr>
  {% empty %}
    <p>No comments here yet :(</p>
    <hr>
  {% endfor %}
      <a href="{% url 'add_comment_to_post' id=product.id %}" class="btn btn-success">Leave a Review</a>
    </div>
  </div>
  <!-- /.card -->

  </div>
  <!-- /.col-lg-9 -->

{% endblock content %}