body {
    padding-top: 90px;
}
html, body {
    height: 100%;
    width:100%;
    margin:0;
}
.jumbotron{
    background-color:rgba(0, 0, 0, 0.1);
}
#wrap {
    min-height: 100%;
}
#main {
    overflow:auto;
    padding-bottom:150px;
}
footer {
    position: relative;
    margin-top: -150px;
    height: 150px;
    clear:both;
    padding-top:20px;
}
a, a:hover, a:visited, a:focus {
    text-decoration:none;
}
.dropdownMenuButton {
    width: 100px;
    height: 40px;
}
#homepage_cards{
  width: 100%;
  height: 200px;
  border: 3px solid #000000;
  border-radius: 25%;
}
.card-body a h3 {
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-text-stroke: 2px black;
}
#shopcart_products_image{
    width: 50px;
    height: 50px;
}
#checkout_button{
    color: white;
}

/* add comment form */
.pb-cmnt-container {
    margin-top: 100px;
}

.pb-cmnt-textarea {
    resize: none;
    padding: 20px;
    height: 130px;
    width: 100%;
    border: 1px solid #F2F2F2;
}

/* Carousel */
#carousel-item-home {
	width: 100%;
    height: 100vh;
}
#carouselHomepage{
    border: 3px;
    border-color: #000000;
}
#carousel-item-category #image-carousel, #carousel-item-detail #image-carousel {
    margin: 0 auto;
    height: 500px;
}

/* container-for-signup */
.container-for-signup {
    margin-top: 5px;
    margin-bottom: 5px;
}
.container .container-for-login {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 25%;
}